<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>About Us</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

    <header>
        <div class="nav-bar">
          <a href="/">
          <img src="img/reportmant.png" class="logo">
          </a>
    
          <div class="navigation">
    
            <div class="nav-items">
              <i class="uil uil-times nav-close-btn"></i>
              <div class="opciones">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="about">About us</a></li>
                  <li><a href="contact">Contact</a></li>
                  <li><a href="formulario">Form</a></li>
                  <li><a href="follow">Follow-up</a></li>
                  <li><a href="record">Record</a></li>
    
                  <li class="dropdown">
                    <a href="#">Login</a>
                    <div class="dropdown-content">
                      <a href="register">Create account</a>
                      <a href="login">Sign in</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
    
          </div>
          <i class="uil uil-apps nav-menu-btn"></i>
        </div>
        <div class="scroll-indicator-container">
          <div class="scroll-indicator-bar"></div>
        </div>
      </header>



    <section class="text">
        <h1>About Us</h1>
        <p>The web system will be a tool which facilitates the way to organize, to resolve and follow up on these
            technical failures in the maintenance of the university, it is essential to implement an efficient system
            for receiving and assigning reports. This, including a centralized digital registry to track reports, helps
            assign clear responsibilities and fluid communication between managers and requesters, helps to keep a quote
            for repairs.
        </p>
    </section>



    <section class="text">
        <h1>Objective</h1><br>

        <p>The main objective of web application development is to help manage damage reporting.
            the university, and thus be able to improve the efficiency and effectiveness of the maintenance process.
            <br><br>
            <br>

            • The system serves as a tool to manage reports on technical failures. The system included a centralized
            digital registry to track reports.
            <br><br>
            • Facilitate communication: The web application will allow users to quickly report damage
            And simple.
            <br><br>
            • Document the damage: The web application will allow you to attach photos, videos or detailed descriptions of the damage.
            damage.
            <br><br>
            • Task prioritization: The web application will allow the maintenance team to prioritize damage according to
            its severity or impact on the operation of the facility.
            <br><br>
            • Progress Tracking: The web application will allow you to track the progress of damage reports.
            <br><br>
            • Continuous improvement: By collecting data on the types and frequency of reported damages, the application
            website will allow the maintenance team to identify patterns and take proactive measures to prevent
            future problems.
            <br><br>
        </p>
    </section>






    <section class="text">
        <h1>Team</h1>
    </section>
    <div class="content">
        <div class="card">
            <img src="img/Aaron.jpg" alt="Camara Chan Yaciel Aaron">
            <h2 class="title">Camara Chan Yaciel Aaron</h2>
        </div>

        <div class="card">
            <img src="img/JP.jpg" alt="Lopez Mis Juan Diego">
            <h2 class="title">Lopez Mis Juan Diego</h2>
        </div>

        <div class="card">
            <img src="img/Geovani.jpg" alt="Carrillo Morales Geovani De Jesus">
            <h2 class="title">Carrillo Morales Geovani De Jesus</h2>
        </div>

        <div class="card">
            <img src="img/Guadalupe.jpg" alt="Nuñez Nangullasmu Guadalupe Monserrat">
            <h2 class="title">Nuñez Nangullasmu Guadalupe Monserrat</h2>
        </div>

        <div class="card">
            <img src="img/antonio.jpg" alt="Balcazar Olan Carlos Antonio">
            <h2 class="title">Balcazar Olan Carlos Antonio</h2>
        </div>

        <div class="card">
            <img src="img/Kim_Seanuca.jpg" alt="Arcos Gomez Seani">
            <h2 class="title">Arcos Gomez Seani</h2>
        </div>
    </div>




    <div class="separation"></div>
    <div class="container-footer">

        <footer>

            <div class="footer-img">
                <img src="img/reportmant.png" alt="">
            </div>
            <div class="redes-footer">
                <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>Copyright ReporMant - All rights reserved</h4>

        </footer>
    </div>





    <script src="About us/js/about.js"></script>
</body>

</html>