<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/contact.css">
  <link rel="icon" href="favicon.ico" type="img/reportmant">
  <title>Document</title>
</head>
<body>

  <header>
    <header>
      <div class="nav-bar">
        <a href="/">
        <img src="img/reportmant.png" class="logo">
        </a>
  
        <div class="navigation">
  
          <div class="nav-items">
            <i class="uil uil-times nav-close-btn"></i>
            <div class="opciones">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="formulario">Form</a></li>
                <li><a href="follow">Follow-up</a></li>
                <li><a href="record">Record</a></li>
  
                <li class="dropdown">
                  <a href="#">Login</a>
                  <div class="dropdown-content">
                    <a href="register">Create account</a>
                    <a href="login">Sign in</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
        <i class="uil uil-apps nav-menu-btn"></i>
      </div>
      <div class="scroll-indicator-container">
        <div class="scroll-indicator-bar"></div>
      </div>
    </header>

 <div class="text">
  <h1>Contact</h1>
  <br>
 <p>
  For more information or to resolve your questions, <br>
  please contact us through the following means:</p>
  <br>
 <ul>
  <li>Avenue Paseo del Mayab 4000 Región 79, Solidaridad, 77710
    <br>
    Playa de Carmen, Quintana Roo</li>
    <li>Teléfono: +52 984 105 0448</li>
    <li>Email:reportmant123@gmail.com</li>
 </ul>

  </div>
  <div class="images">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14919.080657304263!2d-87.07823991050543!3d20.68732430674833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e2a14f13ba35%3A0x25d0481d668fb996!2sUniversidad%20Tecnol%C3%B3gica%20de%20la%20Riviera%20Maya%20-%20BIS!5e0!3m2!1ses!2smx!4v1701749526540!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>







<div class="separation"></div>
<div class="container-footer">

  <footer>

    <div class="footer-img">
      <img src="contact/img/reportmant.png" alt="">
    </div>
    <div class="redes-footer">
      <a href="https://www.facebook.com/profile.php?id=61554089829124"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
      <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
      <a href="https://www.instagram.com/reportmant/"><i class="fab fa-instagram icon-redes-footer"></i></a>
    </div>
    <hr>
    <h4>Copyright ReporMant - All rights reserved</h4>

  </footer>
</div>

<script src="script.js"></script>

</body>
</html>