.text h1{
   
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00bfff, #1e90ff); /* Cambiado a tonos de azul */
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px; /* Ajusta según sea necesario */
}

.text p{
    color: #fff;
    font-size: 1em;
    margin: 30px 0;
}

/*  cards*/

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(34, 162, 184, 0.767);
}

.card img {
width: 80%;
height: auto;
border-radius: 50%;
position: relative;
left: 20px;


}

.card h2 {
margin: 5px 0;
color: white;

}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.title{
    font-size: 30px; /* Ajusta el tamaño de la fuente aquí */
    margin: 10px 0;
    text-align: center;
}












/*********************************************/
/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= Main Css =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #000116;
}

/*======= Header navigation bar =======*/
header{
    z-index: 999;
    position: fixed;
    width: 100%;
}

header .nav-bar{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    transition: 0.5s ease;
}



.navigation .nav-items a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}





/*======= Home =======*/
section{
    position: relative;
    font-size: 1em;
    padding: 30px 150px;
    transition: 0.5s ease;
    transition-property: padding;
}



/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: 5px;
}

.scroll-indicator-bar{
    background: #199fff;
    width: 0%;
    height: 100%;
    box-shadow: 0 5px 25px #199fff,
                0 5px 50px #199fff;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
    

  header .nav-bar{
        padding: 0 50px;
    }

    section{
        padding: 30px 50px;
        font-size: 0.9em;
    }
}

/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }

    section {
        padding: 30px 20px;
        font-size: 0.8em;
    }

}

.logo {
    height: 150px;
  }

  
/* lista desplegable*/

  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d0927;
    min-width: 160px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(25, 12, 214, 0.678);
  
    
  }
  

  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  /* fin de la lista desplaegable*/
  
/*narvar*/
.opciones ul li{
    font-size: 15px;
    padding: 10px;
    color: #fffdfc;
    font-weight: 700;
    list-style-type: none;
    float: left;
    margin-left: 55px;
}
.opciones ul li a:hover{
    color: #7b87ce;
}




 /* fooder*/
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.container-footer{
    width: 100%;
    padding: 40px 30;
    background: #100347b7;
    margin-top: 170px;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;

}
.container-footer footer{
    max-width: 1200px;
    margin: auto;
    
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    top: 0;
    left: 50%;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #f7f7f7;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #706f74;
    
    
}

footer .redes-footer .fa-facebook-f:hover{
    background: #392ed3;
    color: #ffffff;

}


footer .redes-footer .fa-google-plus-g:hover{
    background: #de4c34;
    color: #ffffff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b);
    color: #ffffff;
}
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
    
}

.container-footer h4{
 
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
 
}



/*para el degradado*/
.separation{
 
  /*z-index: 888*/
    content: '';
    position: static;
    width: 100%;
    height: 80px;
   
    background: linear-gradient(transparent, #100347b7);
    left: 100px;
 
}
 

.footer-img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  
}
